.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#gamebox {
  display: grid;
  width: 80vw;
  height: 80vw;
  max-width: 600px;
  max-height: 600px;
  min-width: 150px;
  min-height: 150px;
  grid-template-areas:
    "two seven six"
    "nine five one"
    "four three eight";
}

#cell1 {
  grid-area: one;
}

#cell2 {
  grid-area: two;
}

#cell3 {
  grid-area: three;
}

#cell4 {
  grid-area: four;
}

#cell5 {
  grid-area: five;
}

#cell6 {
  grid-area: six;
}

#cell7 {
  grid-area: seven;
}

#cell8 {
  grid-area: eight;
}

#cell9 {
  grid-area: nine;
}

#status {
  margin: 5px;
}
